<h1>Solicitar Visita</h1>

<% if flash[:alert] %>
  <div class="alert alert-theme-danger"><%= flash[:alert] %></div>
<% end %>

<p>
  Solicitar uma visita de um gerente custará R$50.00 que serão debitados da sua conta.
  Deseja continuar?
</p>

<%= form_with url: request_manager_visit_path, local: true do |form| %>
  <div>
    <%= form.submit "Confirmar Visita", class: "btn btn-theme-primary", data: { confirm: "confirmar débito de R$50,00 pela visita?" } %>
  </div>
<% end %>

<%= link_to "Cancelar e voltar ao Menu Principal", dashboard_path %>