@import "bootstrap/functions";

$primary:       #1F7D53; 
$secondary:     #255F38; 


$success:       $secondary; 
$info:          $primary;   

$navbar-dark-bg: #27391C;


@import "bootstrap/variables";
@import "bootstrap/variables-dark";


@import "bootstrap/maps";
@import "bootstrap/mixins";
@import "bootstrap/root";


@import "bootstrap";
